<form [formGroup]="editForm" (submit)="update()">
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select [(value)]="gender">
      <mat-option value="male">
        Male
      </mat-option>
      <mat-option value="female">
        Female
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Birthday</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p></p>
  <button mat-raised-button color="accent" type="submit">UPDATE PERSON</button>
</form>
